<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <title>Greater Boston Classical Music Calendar</title>
  <style>
    
    * {
      font-family: 'Quicksand', sans-serif;
    }

    body {
      display: flex;
      justify-content: left;
    }

    form#search-form {
      position: absolute;
      border-radius: inherit;
      outline: none;
    }

    h1 {
        position: absolute;
        width: -webkit-fill-available;
        top: 0px;
        margin: auto;
        text-align: center;
    }

    #home {
      text-decoration: none;
      color: black;
      font-weight: 550;
    }

    .content-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .content-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }

    .content-table th,
    .content-table td {
      padding: 12px 15px;
    }

    .content-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .search-table {
      display: none;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      min-width: 400px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .search-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }

    .search-table th,
    .search-table td {
      padding: 12px 15px;
    }

    .search-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .search-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
          window.onload = function() {
            const form = document.getElementById('search-form');
            const input = document.getElementById('search-input');

            document.getElementById("searchForm").addEventListener("submit", function(event) {
            event.preventDefault();
            window.location.href = "/search-results";
          });
        };
  </script>
</head>
<body>
  <div class="h1Div">
    <h1><a id="home" href="/">Greater Boston Classical Music Calendar</a></h1>
  </div>
  <header>
    <form id="search-form" action="/search">
      <input type="text" name="q" id="search-input" placeholder="Keyword Search" autocomplete="off" autofocus>
      <button type="submit">Search</button>
    </form>    
  </header>
  <table class="content-table">
    <thead>
      <tr>
        <th>Performer</th>
        <th>Date</th>
        <th>Time</th>
        <th>City</th>
        <th>Notes</th>
        <th>Location</th>
        <th>Tickets</th>
        <th>Calendar</th>
      </tr>
    </thead>
    <tbody id="table-body">
      <% events.forEach((gig) => { %>
        <tr class="body-row">
          <td><%= gig.performer %></td>
          <td><%= gig.date %></td>
          <td class="short"><%= gig.time %></td>
          <td class="short"><%= gig.city %></td>
          <td class="notes"><%= gig.notes %></td>          
          <td class="short"><a href="<%= gig.location %>">Location</a></td>
          <td class="short"><a href="<%= gig.ticketLink %>"></a>Tickets</td>
          <td class="short"><a href="<%= gig.gCalendar %>"></a>Google Cal</td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <table class="search-table">
    <thead>
      <tr>
        <th>Performer</th>
        <th>Date</th>
        <th>Time</th>
        <th>City</th>
        <th>Notes</th>
        <th>Tickets</th>
        <th>Location</th>
        <th>Calendar</th>
      </tr>
    </thead>
    <tbody id="search-results">
    </tbody>
  </table>
  
</body>
</html>
